#rockilogo {
    width: 130px; /* Adjust width according to your logo size */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    border-radius: 50%;
    position: absolute;
    left: 80px;
    top: 20px;
    background-color: transparent; /* Set the background color to transparent */
}
.rockilogo{
    width: 130px; /* Adjust width according to your logo size */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    border-radius: 50%;
    position: absolute;
    left: 80px;
    top: 20px;
    background-color: transparent;
}
#rockilogobottom{
    border-radius: 50%;
    width: 130px; /* Adjust width according to your logo size */
    height: auto;
}
.hero__caption{
    margin-left: -90px;
}
/* about me  */
.hero-cap h2{
    color: black;
}
.cat-icon img{
    object-fit: contain;
    width: 200px;
}
/* contactme   */
/* Style for contact info section */


/* Center the contact form */
.row {
    display: flex;
    justify-content: center;
}

.col-lg-8, .col-lg-3 {
    width: auto;
}

/* Adjust the layout for smaller screens */
@media (max-width: 768px) {
    .col-lg-8, .col-lg-3 {
        width: 100%;
    }
    .offset-lg-1 {
        margin-left: 0;
    }
}

/* Style for the contact form */
.contact-title {
    font-size: 24px;
    color: #333;
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center the button */
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
